[buildout]
extensions +=
    mr.developer

extends =
    buildout.d/base.cfg
    buildout.d/sources.cfg
    checkouts.cfg

parts +=
    checkversions
    createzopecoverage
    i18ndude
    omelette
    pep8
    pyflakes
    test
    test-dependencies

package-extras = [test]
test-eggs =
    museudigital.policy [test]

eggs +=
#    sauna.reload
#    Products.PDBDebugMode
    Products.PrintingMailHost
    plone.reload

zcml +=
    plone.reload

[checkversions]
recipe=zc.recipe.egg
eggs=z3c.checkversions [buildout]

[createzopecoverage]
recipe = createzopecoverage

[i18ndude]
recipe = zc.recipe.egg
eggs = i18ndude

[instance]
port-base = 0
debug-mode = on
verbose-security = on
#event-log-level = DEBUG
environment-vars +=
    CHAMELEON_DEBUG true
zope-conf-additional +=
    http-realm Desenv
 #   %import sauna.reload

[omelette]
recipe = collective.recipe.omelette
eggs = ${instance:eggs}

[pep8]
recipe = zc.recipe.egg
eggs = pep8

[pyflakes]
recipe = zc.recipe.egg
scripts = pyflakes
eggs = pyflakes
entry-points = pyflakes=pyflakes.scripts.pyflakes:main

[test]
recipe = zc.recipe.testrunner
defaults = ['--auto-color', '--auto-progress']
eggs =
    ${buildout:package-name} ${buildout:package-extras}
    ${buildout:test-eggs}

[test-dependencies]
recipe = zc.recipe.testrunner
defaults = ['--auto-color', '--auto-progress']
eggs =
    museudigital.tema
    museudigital.conteudos
